<!-- templates/registration/login.html -->
{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block title %}Log in{% endblock title %}


{% block content %}

<h2>Log in</h2>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Log in</button>

{% endblock content %}