<!-- templates/registration/logout.html -->
{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block title %}Log out{% endblock title %}


{% block content %}
<div class="container">
    <h1>Log out</h1>
    <p>Are you sure you want to log out?</p>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-danger" type="submit">Log out</button>
    </form>
</div>
{% endblock content %}