<!-- templates/home.html -->
{% extends '_base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block content %}
<h1>Prototype Homepage</h1>
<img class="headerimg" src="{% static 'images/sketch.jpg' %}">
{% if user.is_authenticated %}
    <p>Hi {{user.username.capitalize}}!</p>
    <p><a href="{% url 'account_logout' %}">Log out</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'account_login' %}">Log in</a>
    <a href="{% url 'account_signup' %}">Sign up</a>
{% endif %}
{% endblock content %}